@import 'partials/animations';
@import 'partials/atlas';

.map {
    margin: 100px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    .row-1 {
        position: absolute;
        top: -84px;
    }
    .row-6 {
        position: absolute;
        bottom: -84px;
    }
    .field-1 {
        position: absolute;
        left: -84px;
    }
    .field-6 {
        position: absolute;
        right: -84px;
    }
    .row-5 .field-6 {
        z-index: 1;
    }
    .pc-table {
        position: absolute;
        top: -16px;
    }

    .hidden {
        display: none;
    }

    .pc {
        animation: pc 1s steps(1) infinite;
        position: absolute;
        top: -14px;
        left: -43px;
    }
    .monitor {
        animation: monitor 1s steps(1) infinite;
        position: absolute;
        top: -20px;
        left: 20px;
        transform: rotate(45deg);
    }
    .keyboard {
        position: absolute;
        top: 9px;
        left: -59px;
        transform: rotate(5deg);
    }
    .chair {
        position: absolute;
        top: -71px;
        left: 60px;
        transform: rotate(5deg);
        z-index: 1;
    } // chairfix
    .pc-table,
    .keyboard,
    .pc,
    .monitor {
        z-index: 2;
    }
    .employee {
        position: absolute;
        animation: employee 1s steps(1) infinite;
        top: -80px;
        left: 61px;
        z-index: 3;
        transform: rotate(5deg);
    }
    .refrigerator {
        position: absolute;
        top: 8px;
        left: -16px;
        transform: rotate(-90deg);
    }
    .coffee-pizza-table {
        position: absolute;
        top: 15px;
        left: -24px;
        transform: rotate(90deg);
        z-index: 1;
    }
    .coffee {
        animation: coffee 1s steps(1) infinite;
        position: absolute;
        top: -32px;
        left: -15px;
        z-index: 1;
        transform: scale(0.5);
    }
    .pizza {
        position: absolute;
        top: 32px;
        left: -16px;
        z-index: 1;
        transform: scale(0.7) rotate(-20deg);
    }
    div {
        display: flex;
        div {
            display: inline-block;
            width: 128px;
            height: 128px;
            flex-shrink: 0;
            position: relative;
        }
        .flip-angle-90 {
            transform: rotate(90deg);
        }
        .flip-angle-180 {
            transform: rotate(180deg);
        }
        .flip-angle-minus-90 {
            transform: rotate(-90deg);
        }
    }
}