@keyframes employee {
  0% {
      background-image: url('../../../public/assets/sprites/employee/employee20.png');
  }
  20% {
      background-image: url('../../../public/assets/sprites/employee/employee21.png');
  }
  40% {
      background-image: url('../../../public/assets/sprites/employee/employee22.png');
  }
  60% {
      background-image: url('../../../public/assets/sprites/employee/employee23.png');
  }
  80% {
      background-image: url('../../../public/assets/sprites/employee/employee24.png');
  }
  100% {
      background-image: url('../../../public/assets/sprites/employee/employee25.png');
  }
}

@keyframes coffee {
  0% {
      background-image: url('../../../public/assets/sprites/coffee/coffee0.png');
  }

  30% {
      background-image: url('../../../public/assets/sprites/coffee/coffee1.png');
  }

  50% {
      background-image: url('../../../public/assets/sprites/coffee/coffee2.png');
  }

  70% {
      background-image: url('../../../public/assets/sprites/coffee/coffee3.png');
  }

  100% {
      background-image: url('../../../public/assets/sprites/coffee/coffee4.png');
  }
}

@keyframes monitor {
  0% {
      background-image: url('../../../public/assets/sprites/monitor/monitor0.png');
  }
  20% {
      background-image: url('../../../public/assets/sprites/monitor/monitor1.png');
  }
  40% {
      background-image: url('../../../public/assets/sprites/monitor/monitor2.png');
  }
  60% {
      background-image: url('../../../public/assets/sprites/monitor/monitor3.png');
  }
  80% {
      background-image: url('../../../public/assets/sprites/monitor/monitor4.png');
  }
  100% {
      background-image: url('../../../public/assets/sprites/monitor/monitor0.png');
  }
}

@keyframes pc {
  0% {
      background-image: url('../../../public/assets/sprites/pc/pc0.png');
  }
  25% {
      background-image: url('../../../public/assets/sprites/pc/pc1.png');
  }
  50% {
      background-image: url('../../../public/assets/sprites/pc/pc2.png');
  }
  75% {
      background-image: url('../../../public/assets/sprites/pc/pc3.png');
  }
  100% {
      background-image: url('../../../public/assets/sprites/pc/pc0.png');
  }
}