.sprite {
    background-image: url(../../../public/assets/sprites/atlas.png);
    background-repeat: no-repeat;
    display: block;
}

.chair-1 {
    width: 128px;
    height: 128px;
    background-position: -5px -5px;
}

.chair-2 {
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
}

.coffee-frame-0 {
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
}

.coffee-frame-1 {
    width: 128px;
    height: 128px;
    background-position: -419px -5px;
}

.coffee-frame-2 {
    width: 128px;
    height: 128px;
    background-position: -557px -5px;
}

.coffee-frame-3 {
    width: 128px;
    height: 128px;
    background-position: -695px -5px;
}

.coffee-frame-4 {
    width: 128px;
    height: 128px;
    background-position: -5px -143px;
}

.employee-frame-0 {
    width: 128px;
    height: 128px;
    background-position: -143px -143px;
}

.employee-frame-1 {
    width: 128px;
    height: 128px;
    background-position: -281px -143px;
}

.employee-frame-2 {
    width: 128px;
    height: 128px;
    background-position: -419px -143px;
}

.employee-frame-3 {
    width: 128px;
    height: 128px;
    background-position: -557px -143px;
}

.employee-frame-4 {
    width: 128px;
    height: 128px;
    background-position: -695px -143px;
}

.employee-frame-5 {
    width: 128px;
    height: 128px;
    background-position: -5px -281px;
}

.explode0 {
    width: 128px;
    height: 128px;
    background-position: -143px -281px;
}

.explode-frame-1 {
    width: 128px;
    height: 128px;
    background-position: -281px -281px;
}

.explode-frame-2 {
    width: 128px;
    height: 128px;
    background-position: -419px -281px;
}

.explode-frame-3 {
    width: 128px;
    height: 128px;
    background-position: -557px -281px;
}

.explode-frame-4 {
    width: 128px;
    height: 128px;
    background-position: -695px -281px;
}

.explode-frame-5 {
    width: 128px;
    height: 128px;
    background-position: -5px -419px;
}

.explode-frame-6 {
    width: 128px;
    height: 128px;
    background-position: -143px -419px;
}

.explode-frame-7 {
    width: 128px;
    height: 128px;
    background-position: -281px -419px;
}

.explode-frame-8 {
    width: 128px;
    height: 128px;
    background-position: -419px -419px;
}

.explode-frame-9 {
    width: 128px;
    height: 128px;
    background-position: -557px -419px;
}

.floor-1 {
    width: 128px;
    height: 128px;
    background-position: -695px -419px;
}

.floor-2 {
    width: 128px;
    height: 128px;
    background-position: -5px -557px;
}

.floor-3 {
    width: 128px;
    height: 128px;
    background-position: -143px -557px;
}

.keyboard-1 {
    width: 128px;
    height: 128px;
    background-position: -281px -557px;
}

.monitor-frame-0 {
    width: 128px;
    height: 128px;
    background-position: -419px -557px;
}

.monitor-frame-1 {
    width: 128px;
    height: 128px;
    background-position: -557px -557px;
}

.monitor-frame-2 {
    width: 128px;
    height: 128px;
    background-position: -695px -557px;
}

.monitor-frame-3 {
    width: 128px;
    height: 128px;
    background-position: -5px -695px;
}

.monitor-frame-4 {
    width: 128px;
    height: 128px;
    background-position: -143px -695px;
}

.pc-frame-0 {
    width: 128px;
    height: 128px;
    background-position: -281px -695px;
}

.pc-frame-1 {
    width: 128px;
    height: 128px;
    background-position: -419px -695px;
}

.pc-frame-2 {
    width: 128px;
    height: 128px;
    background-position: -557px -695px;
}

.pc-frame-3 {
    width: 128px;
    height: 128px;
    background-position: -695px -695px;
}

.pizza-1 {
    width: 128px;
    height: 128px;
    background-position: -833px -5px;
}

.refrigerator-1 {
    width: 128px;
    height: 128px;
    background-position: -833px -143px;
}

.table-1 {
    width: 128px;
    height: 128px;
    background-position: -833px -281px;
}

.table-2 {
    width: 128px;
    height: 128px;
    background-position: -833px -419px;
}

.wall-corner-1 {
    width: 128px;
    height: 128px;
    background-position: -833px -557px;
}

.wall-doors-1 {
    width: 128px;
    height: 128px;
    background-position: -833px -695px;
}

.wall-window-1 {
    width: 128px;
    height: 128px;
    background-position: -5px -833px;
}

.wall-x-conector-1 {
    width: 128px;
    height: 128px;
    background-position: -143px -833px;
}

.wall-1 {
    width: 128px;
    height: 128px;
    background-position: -281px -833px;
}
